h1 {
  color: Red;
  font-family: Cairo;
}

img {
  object-fit: contain;
}

.pointer {
  cursor: pointer;
}

.newOverlay:hover {
  background-color: lightblue;
  cursor: pointer;
}

.overlay {
  background: #00000040;
  top:  0;
  left: 0;
  z-index: 1;
}

.fade-in {
  animation: fade-in .75;
  animation-fill-mode: forwards;
}
